<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyASmEDTbJOHWIWgZ_M8ctrqWg6H9H-72NI</string>
	<key>GCM_SENDER_ID</key>
	<string>156349410041</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.aknanUserApp</string>
	<key>PROJECT_ID</key>
	<string>aknan-92aa0</string>
	<key>STORAGE_BUCKET</key>
	<string>aknan-92aa0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:156349410041:ios:fef34881d7a76506bbd028</string>
</dict>
</plist>